.App {
  background-color: #b4b4b4;
  height: 100vh;
  text-align: center;
}

.App-header {
  background-color: #2c2834;
  height: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.content-wrapper {
  display: flex;
  justify-content: center;
}
.myInfo {
  margin: 5%;
  padding: 30px ;
  background-color: rgb(0, 0, 0);
  color: yellow;
  align-content: center;
  border: 1px solid red;
  width: 25%;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
